body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

button {
	.btn;
	/*.btn-small;*/
}


.util {
	#gradient.vertical(#fcfcfe, #f0f0f0);
	position: relative;
	border: 1px solid #ccc;
	padding: 30px 0.2% 5px 0.2%;
	*padding-top: 20px;
	width: 24.5%;
	display: inline-block;
	float: left;
	min-height: 128px;
	min-width: 400px;
	margin: 30px 2px 0;
	//margin-top: 30px;
	.border-radius(4px);
	box-sizing : border-box;

	&.fullsize {
		width: 99.5%;
	}

	h2 {
		position: absolute;
		top: -1px;
		right: -1px;
		margin: 0;
		padding: 3px 7px;
		font-size: 12px;
		line-height: 18px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		.border-radius(0 4px);

		.transition(color .15s linear);

		&:hover {
			color: #333;
		}
	}

}


textarea {
	width: 97%;
	display: block;
	height: 100px;
}
textarea.half {
	width: 45%;
	float: left;
}
textarea.half + textarea {
	width: 45%;
	float: right;
}

input[type="radio"], input[type="checkbox"] {
	margin:0;
}


// some responsiveness
@media (max-width: 1650px) {
	.util {
		width: 32.5%;
	}
}
@media (max-width: 1250px) {
	.util {
		width: 49.5%;
	}
}
@media (max-width: 850px) {
	.util {
		width: 99.5%;
	}
}
